<div class="form-group {{ extradivclass|| ''}} ">
    <label for="{{id}}">{{text}}</label>
    <input type="{{type || 'text'}}" class="{{classes || 'form-control' }}" id="{{id}}" name="{{id}}"
        placeholder="{{placeholder||''}}" value="{{value || ''}}">
</div>