<div class="form-group {{ extradivclass|| ''}} ">
    <label for="{{id}}">{{text}}</label>
    <textarea id="{{id}}" name="{{id}}" class="{{classes || 'form-control' }}" rows="{{rows||'4'}}"></textarea>
</div>