<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">



<p
    style="line-height: normal; margin: 0pt 0in; text-indent: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
    <span
        style="font-size: 14pt; font-family: Aptos; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; color: black; vertical-align: baseline;">Buenos
        días, </span>
</p>

<p
    style="line-height: normal; margin: 0pt 0in; text-indent: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
    <span
        style="font-size: 14pt; font-family: Aptos; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; color: black; vertical-align: baseline;">Solicitamos
        dar de baja el
        acceso a las suscripciones de Azure de 4P, Aura y </span><span
        style="font-size: 14pt; font-family: Aptos; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; color: black; vertical-align: baseline;">livingapps</span><span
        style="font-size: 14pt; font-family: Aptos; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; color: black; vertical-align: baseline;">
        para
        un nuevo compañero de N1:</span>
</p>
<p
    style="line-height: normal; margin: 0pt 0in; text-indent: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
    <span
        style="font-size: 14pt; font-family: Aptos; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; color: black; vertical-align: baseline;">Debe
        tener los mismos permisos que mi usuario: </span><span
        style="font-size: 14pt; font-family: Calibri; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; color: black; vertical-align: baseline;"><a
            href="mailto:ana.noriega@telefonicabigdata.onmicrosoft.com">ana.noriega@telefonicabigdata.onmicrosoft.com</a></span>
</p>
<p
    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; word-break: normal;">
    <br>
</p>
<p
    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; word-break: normal;">
    <br>
</p>

<body>
    <section>
        <style>
            table {
                border-collapse: collapse;
                margin-left: auto;
                margin-right: auto;
                background: #004250;
            }

            .titulo-td {
                border: solid 0.8pt;
                border-right: solid black 0.8pt;
                background: white;
                box-sizing: border-box
            }

            .titulo-td>p {
                text-align: center;
                font-size: 12.0pt;
                font-family: Calibri, sans-serif;
                color: black;
                background: #d5d6d7;
            }

            .mensaje-td {
                border-bottom: none;
                border-left: solid black 0.8pt;
                border-right: solid black 0.8pt;
                background: #fbfcfd;
                /*background: #004250;
                box-sizing: border-box*/
            }

            .mensaje-td>p {
                font-family: Calibri, sans-serif;
                font-size: 12.0pt;
                color: white
            }

            .datos-td {
                border: solid 0.8pt;
                background: #00759A;
                box-sizing: border-box
            }

            .datos-td>p {
                font-family: Calibri, sans-serif;
                /* color:white;
            font-size:12.0pt; */
            }

            .spacer-td {
                height: 18pt;
                border-bottom: none;
                border-left: solid black 0.8pt;
                border-right: solid black 0.8pt;
                background: #004250;
                box-sizing: border-box
            }

            span {
                font-family: Calibri, sans-serif;
                color: white;
                font-size: 12.0pt;

            }

            .divdatos {
                font-family: Calibri, sans-serif;
                color: white;
                font-size: 12.0pt;

            }
        </style>
        <div style="place-content: center;">
            <center>
                <table style="width: 800px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        <!-- Lineas de datos OB -->

                        <tr>
                            <td class='datos-td' style="width: 40%; padding:0pt 4pt 0pt 4pt; ">
                                <p><span>Nome/Nombre</span></p>
                            </td>
                            <td class='datos-td' style="width: 50%; padding: 0pt 4pt 0pt 4pt; ">
                                <p><span>{{employee.firstname}}</span></p>
                            </td>
                        </tr>

                        <!-- Fin Lineas de datos OB -->
                        <!-- Lineas de datos UBICACIÓN  -->

                        <tr>
                            <td class='datos-td' style=" padding: 2pt 4pt 2pt 4pt; ">
                                <p><span>Sobrenome/Apellido:</span></p>
                            </td>
                            <td class='datos-td' style="width: 50%; padding:2pt 4pt 2pt 4pt; ">
                                <p><span>{{employee.lastname}}</span></p>
                            </td>
                        </tr>

                        <!-- Fin Lineas de datos UBICACIÓN  -->

                        <!-- Lineas de datos DIRECCION   -->

                        <tr>
                            <td class='datos-td' style=" padding: 2pt 4pt 2pt 4pt; ">
                                <p><span>Sexo</span></p>
                            </td>
                            <td class='datos-td' style=" padding:2pt 4pt 2pt 4pt; ">
                                <p><span>{{sexo}}</span></p>
                            </td>
                        </tr>

                        <!-- Fin Lineas de datos DIRECCION   -->

                        <!-- Lineas de datos estado civil  -->
                        <tr>
                            <td class='datos-td' style="width: 40%; padding: 2pt 4pt 2pt 4pt; ">
                                <p><span>Estado civil</span></p>
                            </td>
                            <td class='datos-td' style="width: 50%; padding:2pt 4pt 2pt 4pt; ">
                                <p>
                                <div class="divdatos">{{edocivil}} </div>
                                </p>
                            </td>
                        </tr>

                        <!-- Fin Lineas de datos estado civil  -->
                        <!-- Lineas de datos ID Nacional -->

                        <tr>
                            <td class='datos-td' style=" padding: 2pt 4pt 2pt 4pt; ">
                                <p><span>RG / ID Nacional</span></p>
                            </td>
                            <td class='datos-td' style="width: 50%; padding:2pt 4pt 2pt 4pt; ">
                                <p><span>{{employee.identification_number}}</span></p>
                            </td>
                        </tr>
                        <!-- Fin Lineas de datos ID Nacional -->

                        <!-- Lineas de datos fecha de nascimento   -->

                        <tr>
                            <td class='datos-td' style=" padding: 2pt 4pt 2pt 4pt; ">
                                <p><span>Data nascim/Fecha de nacimento</span></p>
                            </td>
                            <td class='datos-td' style=" padding:2pt 4pt 2pt 4pt; ">
                                <p><span>{{fechaNacimiento}}</span></p>
                            </td>
                        </tr>

                        <!-- Fin Lineas de datos fecha   -->
                        <!-- Lineas de datos 4p-->
                        <tr>
                            <td class='datos-td' style=" padding: 2pt 4pt 2pt 4pt; ">
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-indent: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: Aptos; color: white;">Suscripciones Aura
                                        Novum:</span>
                                </p>
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: Aptos; color: white;">(Microsoft Azure 25
                                        -
                                        EA - Aura Novum - PRO</span>
                                </p>
                                <p
                                    style="line-height: normal; margin: 0pt 0in; text-indent: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
                                </p>
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: Aptos; color: white;">Microsoft Azure 07
                                        - EA
                                        - Aura
                                        Novum - PRE):</span>
                                </p>

                            </td>
                            <td class='datos-td' style="width: 50%; padding:2pt 4pt 2pt 4pt; ">
                                <p><span>Si</span></p>
                            </td>

                        </tr>
                        <!-- Fin Lineas de datos  -->

                        <!-- Lineas de datos -->
                        <tr>
                            <td class='datos-td' style=" padding: 2pt 4pt 2pt 4pt; ">
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-indent: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: Aptos; color: white;">Suscripciones Aura
                                        Novum:</span>
                                </p>
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: Aptos; color: white;">(Microsoft Azure 25
                                        -
                                        EA - Aura Novum - PRO</span>
                                </p>
                                <p
                                    style="line-height: normal; margin: 0pt 0in; text-indent: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
                                </p>
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: Aptos; color: white;">Microsoft Azure 07
                                        - EA
                                        - Aura
                                        Novum - PRE):</span>
                                </p>
                            </td>
                            <td class='datos-td' style="width: 50%; padding:2pt 4pt 2pt 4pt; ">
                                <p><span>Si</span></p>
                            </td>
                        </tr>

                        <!-- Fin Lineas de datos  -->

                        <!-- Lineas de datos   -->

                        <tr>
                            <td class='datos-td' style=" padding: 2pt 4pt 2pt 4pt; ">
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-indent: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
                                    <span
                                        style="font-size: 12pt; font-family: Aptos; color: white;">Suscripciones</span><span
                                        style="font-size: 12pt; font-family: Aptos; color: white;"> </span><span
                                        style="font-size: 12pt; font-family: Aptos; color: white;">Living Apps:</span>
                                </p>
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: Aptos; color: white;">&nbsp;(Microsoft
                                        Azure
                                        14 - EA - Living Apps PRE</span>
                                </p>

                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: Aptos; color: white;">Microsoft Azure 15
                                        - EA
                                        - Living Apps PRO):</span>
                                </p>
                            </td>
                            <td class='datos-td' style=" padding:2pt 4pt 2pt 4pt; ">
                                <p><span>Si</span></p>
                            </td>
                        </tr>

                        <!-- Fin Lineas de datos    -->
                        <!-- Lineas de datos  -->

                        <tr>
                            <td class='datos-td' style="padding: 2pt 4pt 2pt 4pt; ">
                                <p><span>Email para notificar credenciales Azure</span></p>
                            </td>
                            <td class='datos-td' style=" padding:2pt 4pt 2pt 4pt; ">
                                <p><span>{{employee.correo_front_office}}</span></p>
                            </td>
                        </tr>
                        <!-- Fin Lineas de datos  -->

                    </tbody>
                </table>
            </center>
        </div>
    </section>
</body>

</html>
<p
    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; word-break: normal;">
    <br>
</p>
<p
    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; word-break: normal;">
    <br>
</p>
<p
    style="line-height: normal; margin: 0pt 0in; text-indent: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
    <span
        style="font-size: 14pt; font-family: Aptos; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; color: black; vertical-align: baseline;">Gracias
        de antemano por su ayuda.</span>
</p>
<p
    style="line-height: normal; margin: 0pt 0in; text-indent: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">

</p>
<p
    style="line-height: normal; margin: 0pt 0in; text-indent: 0in; direction: ltr; unicode-bidi: embed; vertical-align: baseline; word-break: normal;">
    <span
        style="font-size: 14pt; font-family: Aptos; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; color: black; vertical-align: baseline;">Saludos.</span>
</p>
<p
    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; word-break: normal;">
    <br>
</p>
<p
    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; word-break: normal;">
    <br>
</p>
<p
    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; direction: ltr; unicode-bidi: embed; word-break: normal;">
    <font color="#000000" style="font-size: 10.6667px; background-color: rgb(255, 255, 0);">Correo Generado de forma
        Automática</font>
</p>

<!-- Navbar 
    -->
@include('emailtemplate/firma')
<!-- /.navbar -->